body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, coral, rgb(73, 51, 43), rgb(187, 146, 131));
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: coral;
    color:rgb(255, 255, 255);
    padding: 20px 0;
    text-align: center;
    font-style: italic;
    font-stretch: condensed;
    font-size: 22px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
nav ul li a:hover{
    color:burlywood;
    transition:0.3s all;
}

.hero {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    margin: 0;
}

.services, .products, .contact {
    background-color: rgba(192, 130, 88, 0.842);
    padding: 60px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(216, 211, 211, 0.247);
    margin: 20px 0;
    font-weight: bold;
    p{
        color: white;
    }
}

.services h2, .products h2, .contact h2 {
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.services ul, .products ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.services ul li, .products ul li {
    background-color: rgb(185, 255, 127);
    padding: 20px;
    margin: 10px;
    flex: 1 1 200px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 10px;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact form label {
    margin-top: 10px;
    color: white;
}

.contact form input, .contact form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #20d126;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
}